### Introduction to Python Programming

##### Section 1: Arithmetic and Variables

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
print(1+2)

3

In [3]:
print(9-5)

4

In [4]:
test_var = 4+5
print(test_var)

9

In [5]:
my_var = 3
print(my_var)

my_var = 100
print(my_var)

3
100

In [6]:
print(my_var)
print(test_var)

100
9

In [7]:
my_var = my_var + 3  # Increasing the current value by 3
print(my_var)

103

In [8]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [9]:
# Update to include leap years
days_per_year = 365.25

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126230400.0

##### Section 2: Functions

In [10]:
#Variables defined inside the function body cannot be accessed outside of the function.
#Variables scope defines where the code is accessible. 

def add_three(input_var):
    output_var =input_var + 3
    return output_var

In [11]:
new_number = add_three(10)
print(new_number)

13

In [12]:
def get_pay(num_hours):
    pay_pretax = num_hours * 15
    pay_aftertax = pay_pretax * (1-.12)
    return pay_aftertax

In [13]:
#calculating pay based on working 40 hours
pay_fulltime = get_pay(40)
print(pay_fulltime)

528.0

In [14]:
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

In [15]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    #pre_tax pay
    pay_pretax = num_hours * hourly_wage
    #After_tax pay
    pay_aftertax = pay_pretax * (1- tax_bracket)
    return pay_aftertax

In [16]:
higher_pay_aftertax = get_pay_with_more_inputs(40, 24, .22)
print(higher_pay_aftertax)

748.8000000000001

In [17]:
same_pay_fulltime = get_pay_with_more_inputs(40,15,.12)
print(same_pay_fulltime)

528.0

##### Section 3: Data Types

In [18]:
X=14
print(X)
print(type(X))

14
<class 'int'>

In [19]:
#Data types in python are implicit: int,float,boolean,string

##### Section 4: Conditions and Conditional Statements

In [20]:
print(2>3)

False

In [21]:
var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
True

In [22]:
def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."
    # Update value of message only if temperature greater than 38
    if temp > 38:
        message = "Fever!"
    return message

In [23]:
print(evaluate_temp(40))

Fever!

In [24]:
def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

In [25]:
evaluate_temp_with_else(12)

'Normal temperature.'

In [26]:
print(evaluate_temp_with_else(37))

Normal temperature.

In [27]:
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

In [28]:
evaluate_temp_with_elif(40)

'Fever!'

In [29]:
def get_taxes(earnings):
    if earnings < 12000:
        tax_owed = .25 * earnings
    else:
        tax_owed = .30 * earnings
    return tax_owed

In [30]:
ana_taxes = get_taxes(9000)
bob_taxes = get_taxes(15000)

print(ana_taxes)
print(bob_taxes)

2250.0
4500.0

In [31]:
def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    # Dosage is 10 ml for anyone 21.2 kg or over
    else:
        dose = 10
    return dose

In [32]:
get_dose(12)

5

In [33]:
def get_grade(score):
    if score >=90:
        grade = "A"
    elif score>=80:
        grade = "B"
    elif score>=70:
        grade = "C"
    elif score>=60:
        grade = "D"
    else:
        grade = "F"
    return grade

In [34]:
get_grade(45)

'F'

In [35]:
get_grade(85)

'B'

In [36]:
get_grade(49)

'F'

In [37]:
def get_phone_bill(gb):
    if gb>15:
        bill = 100 + (gb-15)*0.10*100
    else:
        bill = 100
    return bill

##### Section 5: Intro to lists and comprehensions

In [41]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"
print(type(flowers))
print(flowers)

<class 'str'>
pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle

In [43]:
#Creating a list of the flowers
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]
flowers_list

['pink primrose',
 'hard-leaved pocket orchid',
 'canterbury bells',
 'sweet pea',
 'english marigold',
 'tiger lily',
 'moon orchid',
 'bird of paradise',
 'monkshood',
 'globe thistle']

In [44]:
print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [45]:
print(len(flowers_list))

10

In [47]:
### Indexing
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

# The list has length ten, so we refer to final entry with 9
print("Last entry:", flowers_list[9])

First entry: pink primrose
Second entry: hard-leaved pocket orchid
Last entry: globe thistle

In [49]:
print("First three entries:", flowers_list[:3])
print("Final two entries: ", flowers_list[-2:])

First three entries: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
Final two entries:  ['monkshood', 'globe thistle']

In [51]:
#removing items
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

In [52]:
#Adding items
flowers_list.append("snapdragon")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

In [53]:
#List are not just for strings
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]
print(hardcover_sales)

[139, 128, 172, 139, 191, 168, 170]

In [61]:
print("Length of list: ",len(hardcover_sales))
print("Entry at Index 2: ", hardcover_sales[2])
print("Minimum value: ", min(hardcover_sales))
print("Maximum value: ", max(hardcover_sales))

Length of list:  7
Entry at Index 2:  172
Minimum value:  128
Maximum value:  191

In [62]:
#To add every item in the list:
print("Total books sold in one week: ", sum(hardcover_sales))

Total books sold in one week:  1107

In [63]:
#To average all the items in the list:
print("Average of books sold in one week: ", sum(hardcover_sales)/5)

Average of books sold in one week:  221.4

In [65]:
#List comprehensions
test_ratings = [1,2,3,4,5]
test_liked = [i>=4 for i in test_ratings]
print(test_liked)

[False, False, False, True, True]

In [66]:
num_users_test = [920344, 1043553, 1204334, 1458996, 1503323, 1593432, 1623463, 1843064, 1930992, 2001078]
num_users_test[-1]

2001078

In [ ]:
#testing num_user for 7 yrs ago